// Vmerchin' it up in here

// Get some fancy fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin);

// Import the Bootstrap Library
@import "bootstrap.less";

body {
	background: #272B30 url(/img/dark_wood.png) repeat top center;
}

header {
  margin: @baseLineHeight 0 @baseLineHeight;
  border-bottom: 1px solid @lightBlue;

	.say_hello {
		margin-top: 40px;
		text-align: right;
		a {
			font-weight: bold;
			color: @lightBlue;
			span {
				color: @mediumBlue;
			}
		}
	}
}
