// Vmerchin' it up in here

// Get some fancy fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin);

// Import the Bootstrap Library
@import "bootstrap.less";

body {
	background: #272B30 url(/img/dark_wood.png) repeat top center;
}

header {
  margin: @baseLineHeight 0 @baseLineHeight;
  border-bottom: 1px solid @lightBlue;

	.say_hello {
		margin-top: 40px;
		text-align: right;
		a {
			font-weight: bold;
			color: @lightBlue;
			span {
				color: @mediumBlue;
			}
		}
	}
}

nav {
	ul li {
		display: inline;
		margin-left: 5px;

		a {
			color: @darkBlue;
			font-weight: bold;
			font-size: (@baseFontSize + 4);
			text-transform: uppercase;

			&:hover {
				color: @mediumBlue;
				text-decoration: none;
			}
		}
	}
}

footer {
	color: @darkBlue;
	text-align: center;
}

.colorbox {
	.thumbnails {
		a {
			div {
				width: 210px;
				height: 145px;
			}
		}
	} //.thumbnails
} //.colorbox

.illustration {
	a {
		div {
			background: url(/img/illustrations/illustrations_sprite.png) no-repeat;

			&.tech_illustration {
				background-position: 0 0;
				&:hover { background-position: 0 -145px; }
			}
			&.pick_me {
				background-position: 0 -290px;
				&:hover { background-position: 0 -435px; }
			}
			&.dance_team {
				background-position: 0 -580px;
				&:hover { background-position: 0 -725px; }
			}
			&.awards_day_poster {
				background-position: 0 -1015px;
				&:hover { background-position: 0 -870px; }
			}
		}
	}
} //.illustration

.tangibles {
	a {
		div {
			background: url(/img/tangibles/tangibles_sprite.png) no-repeat;

			&.light_bulb {
				background-position: 0 0;
				&:hover { background-position: 0 -145px; }
			}
			&.light_bulb_flat {
				background-position: 0 -290px;
				&:hover { background-position: 0 -435px; }
			}
			&.card_holder {
				background-position: 0 -580px;
				&:hover { background-position: 0 -725px; }
			}
			&.elephant {
				background-position: 0 -870px;
				&:hover { background-position: 0 -1015px; }
			}
		}
	}
} //.tangibles

.print {
	a {
		div {
			background: url(/img/print/print_sprite.png) no-repeat;

			&.ten_skaters {
				background-position: 0 -2320px;
				&:hover{ background-position: 0 0; }
			}
			&.tasty_treats {
				background-position: 0 -2465px;
				&:hover{ background-position: 0 -145px; }
			}
			&.spicy_burger {
				background-position: 0 -2610px;
				&:hover{ background-position: 0 -290px; }
			}
			&.rife_cards {
				background-position: 0 -2755px;
				&:hover{ background-position: 0 -435px; }
			}
			&.phils_frozen_hot_choc {
				background-position: 0 -2900px;
				&:hover{ background-position: 0 -580px; }
			}
			&.masters_war {
				background-position: 0 -3045px;
				&:hover{ background-position: 0 -725px; }
			}
			&.lightenup_logo {
				background-position: 0 -3190px;
				&:hover{ background-position: 0 -1015px; }
			}
			&.internship {
				background-position: 0 -3335px;
				&:hover{ background-position: 0 -1160px; }
			}
			&.icpf {
				background-position: 0 -3480px;
				&:hover{ background-position: 0 -1305px; }
			}
			&.florida_postcard {
				background-position: 0 -3625px;
				&:hover{ background-position: 0 -1450px; }
			}
			&.deck_business_card {
				background-position: 0 -3770px;
				&:hover{ background-position: 0 -1595px; }
			}
			&.collage {
				background-position: 0 -3915px;
				&:hover{ background-position: 0 -1740px; }
			}
			&.chocolate_chip {
				background-position: 0 -4060px;
				&:hover{ background-position: 0 -1885px; }
			}
			&.chicken_caesar {
				background-position: 0 -4205px;
				&:hover{ background-position: 0 -2030px; }
			}
			&.camel_logo {
				background-position: 0 -4350px;
				&:hover{ background-position: 0 -2175px; }
			}
			&.main_street_poster {
				background-position: 0 -4495px;
				&:hover{ background-position: 0 -870px; }
			}
		}
	}
} //.print

.web {
	a {
		div {
			background: url(/img/web/web_sprite.png) no-repeat;

			&.union_grove {
				background-position: 0 -870px;
				&:hover { background-position: 0 0; }
			}
			&.princeton {
				background-position: 0 -1015px;
				&:hover { background-position: 0 -145px; }
			}
			&.first_summit {
				background-position: 0 -1160px;
				&:hover { background-position: 0 -290px; }
			}
			&.eccu {
				background-position: 0 -1305px;
				&:hover { background-position: 0 -435px; }
			}
			&.csbmf {
				background-position: 0 -1450px;
				&:hover { background-position: 0 -580px; }
			}
			&.cbtn {
				background-position: 0 -1595px;
				&:hover { background-position: 0 -725px; }
			}
		}
	}
} //.web
