.row
	.span6
		%h2 Work Experience
		%h3 January 2011 – Present
		%h4 Web Designer
		%h5 Banno (formerly T8 Webware), Cedar Falls, Iowa
		%p Lead bank and credit union clients through discovery, sitemap, and wireframe phases; then designed their responsive websites, ads, launch kits, and icons.
		%h3 2009
		%h4 Graphic Designer
		%h5
			Hawthorn Market &amp; Cafe, Ames, Iowa
			%br/
		%p Designed signs for specials and promotions, including but not limited to drinks and featured sandwiches.
		%h3 2009, May – August
		%h4 Design Intern
		%h5 G-G Amalgamated, Minneapolis, Minnesota
		%p Designed backgrounds for website; created business cards; edited movie clips from video archives and converted them into usable formats.
		%h3 2008, May – August
		%h4 Design Intern
		%h5 e10 inc., Minneapolis, Minnesota
		%p Designed logotype signature for Golden Opps; imported and formatted book layout and text.
	.span6
		%h2 Freelance
		%h3 2012
		%h4 Rife Recording Sudio
		%p Created new corporate identity: logo and stationery design.
		%h3 2011–2012
		%h4 Deck Restore &amp; More
		%p Designed print materials for promotions.
		%h3 2007–2009
		%h4 UHURU magazine
		%p Photographed material, designed layouts and type treatments for feature articles.
		%h3 2008
		%h4 Clear Lake Dance Team
		%p Designed warm-up jackets, from concept to final production.
		%h3 2008
		%h4 ISU Practicum
		%p Selected by a competitive portfolio review. Created design solutions for non profit organizations.
