%h2 Education
%h3 Iowa State University
%p Masters of Art in Graphic Design, College of Design<br>Graduated May 2011
%h3 Iowa State University
%p Bachelor of Fine Arts in Graphic Design, College of Design<br>Graduated May 2009
