- content_for(:title, 'Contact Me')

%address
	%strong= @site_name
	%br
	= link_to 'hello@vmerch.me', 'mailto:hello@vmerch.me'

%ul.unstyled
	%li= link_to 'Twitter', 'http://twitter.com/valeriemerchant'
	%li= link_to 'LinkedIn', 'http://www.linkedin.com/in/valeriemerchant'
