- content_for(:title, 'Illustration')

.illustration.colorbox
	.row
		.span9.offset3
			%ul.thumbnails
				- %w(tech_illustration pick_me dance_team awards_day_poster).each do |job|
					%li.span3
						%a.thumbnail{ :href => "#{images_dir}/illustrations/#{job}.png", :'data-target' => 'lightbox' }
							%div{ :class => job }
