%h1 Illustration

.row.illustration
	.span9.offset3
		%ul.thumbnails
			%li.span3
				%a.thumbnail{ :href => '/img/illustrations/tech-illustration.png', :'data-target' => 'lightbox' }
					%div.tech_illustration
			%li.span3
				%a.thumbnail{ :href => '/img/illustrations/pick-me.png', :'data-target' => 'lightbox' }
					%div.pick_me
			%li.span3
				%a.thumbnail{ :href => '/img/illustrations/clear-lake-lions-dance-team.png', :'data-target' => 'lightbox' }
					%div.dance_team_pink
.row.illustration
	.span9.offset3
		%ul.thumbnails
			%li.span3
				%a.thumbnail{ :href => '/img/illustrations/awards-day-poster.png', :'data-target' => 'lightbox' }
					%div.awards_day_poster
