.row
	.span3
		%a.photo{ :title => 'Hello.', :href => 'mailto:hello@vmerch.me' }
			%div

	.span9
		%h1 Hello!
		%p Call me Valerie, Val Pal or Vmerch.
		%p
			I'm a graphic designer, dachshund owner, dew drinker, and fun haver.
			I also draw owls!... but that's not my only talont, so dive in!
			= link_to 'Contact me', 'mailto:hello@vmerch.me'
			if you're interested in me, my work, have questions, or would like to extend your feedback. 
