.row
	.span3
		.photo

	.span9
		%h1
			wel·come\ˈwel-kəm\
			&#58; to greet viewers hospitably and with courtesy

		%p
			v· mer·ch\v-ˈmər-ch\
			&#58; web designer, owl illustrator, dachshund owner, dew drinker, fun haver

		%p
			browse\ˈbrau̇z\
			&#58; to look around her site and contact if interested
