.row
	.span3
		%a.photo{ :title => 'Hello.', :href => 'mailto:hello@vmerch.me' }
			%div

	.span9
		%h1 Hello!
		%p Call me Valerie, Val Pal or Vmerch.
		%p
			I am a graphic designer, Dachshund owner, Dew drinker and fun haver. I also draw owls!
			But that is not my only "talon"t, so dive in! Check out my portfolio and
			= link_to 'contact me', 'mailto:hello@vmerch.me'
			if you have questions, feedback or are interested in my work.
