.row
	.span3
		%a.photo{ :title => 'Hello.', :href => 'mailto:hello@vmerch.me' }
			%div

	.span9
		%h1
			wel&#183;come\ˈwel-kəm\
		%p
			&#58; to greet viewers hospitably and with courtesy

		%h2
			v&#183; mer&#183;ch\v-ˈmər-ch\
		%p
			&#58; web designer, owl illustrator, dachshund owner, dew drinker, fun haver

		%h2
			browse\ˈbra&uuml;z\
		%p
			&#58; to look around her site and contact if interested
