- content_for(:title, 'Packaging')

.packaging.colorbox
	.row
		.span9.offset3
			%ul.thumbnails
				%li.span3
					%a.thumbnail{ :href => '/img/packaging/light-bulb.png', :'data-target' => 'lightbox' }
						%div.light-bulb
				%li.span3
					%a.thumbnail{ :href => '/img/packaging/light-bulb-flat.png', :'data-target' => 'lightbox' }
						%div.light-bulb-flat
				%li.span3
					%a.thumbnail{ :href => '/img/packaging/card-holder.png', :'data-target' => 'lightbox' }
						%div.card-holder
	.row
		.span9.offset3
			%ul.thumbnails
				%li.span3
					%a.thumbnail{ :href => '/img/packaging/elephant.png', :'data-target' => 'lightbox' }
						%div.elephant
