- content_for(:title, 'Web')

.web.colorbox
	.row
		.span9.offset3
			%ul.thumbnails
				- %w(ag_bankers auto cbtn clock csbmf eccu fsb my_photo1x1 my_photo2x2 new_london new_year princeton prospera sub_ads summit union_grove).each do |job|
					%li.span3
						%a.thumbnail{ :href => "#{images_dir}/web/#{job}.png", :'data-target' => 'lightbox' }
							%div{ :class => job }			
