- content_for(:title, 'Web')

.web.colorbox
	.row
		.span9.offset3
			%ul.thumbnails
				- %w(union_grove princeton first_summit eccu csbmf cbtn).each do |job|
					%li.span3
						%a.thumbnail{ :href => "#{images_dir}/web/#{job}.png", :'data-target' => 'lightbox' }
							%div{ :class => job }			
