%h1 Web

.row
	.span8.offset4
		%ul.thumbnails
			%li.span2
				%a.thumbnail{ :href => '#' }
					%img{ :src => 'http://placehold.it/260x180' }
			%li.span2
				%a.thumbnail{ :href => '#' }
					%img{ :src => 'http://placehold.it/260x180' }
			%li.span2
				%a.thumbnail{ :href => '#' }
					%img{ :src => 'http://placehold.it/260x180' }
			%li.span2
				%a.thumbnail{ :href => '#' }
					%img{ :src => 'http://placehold.it/260x180' }
.row
	.span8.offset4
		%ul.thumbnails
			%li.span2
				%a.thumbnail{ :href => '#' }
					%img{ :src => 'http://placehold.it/260x180' }
			%li.span2
				%a.thumbnail{ :href => '#' }
					%img{ :src => 'http://placehold.it/260x180' }
			%li.span2
				%a.thumbnail{ :href => '#' }
					%img{ :src => 'http://placehold.it/260x180' }
			%li.span2
				%a.thumbnail{ :href => '#' }
					%img{ :src => 'http://placehold.it/260x180' }
.row
	.span8.offset4
		%ul.thumbnails
			%li.span2
				%a.thumbnail{ :href => '#' }
					%img{ :src => 'http://placehold.it/260x180' }
			%li.span2
				%a.thumbnail{ :href => '#' }
					%img{ :src => 'http://placehold.it/260x180' }
			%li.span2
				%a.thumbnail{ :href => '#' }
					%img{ :src => 'http://placehold.it/260x180' }
			%li.span2
				%a.thumbnail{ :href => '#' }
					%img{ :src => 'http://placehold.it/260x180' }										
