%h1 Web

.row
	.span9.offset3
		%ul.thumbnails
			%li.span3
				%a.thumbnail{ :href => '#' }
					%img{ :src => 'http://placehold.it/260x180' }
			%li.span3
				%a.thumbnail{ :href => '#' }
					%img{ :src => 'http://placehold.it/260x180' }
			%li.span3
				%a.thumbnail{ :href => '#' }
					%img{ :src => 'http://placehold.it/260x180' }
